
body{
    background-image: url(pokemon-back.jpg);
}
.cuerpo{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: brown;
    margin-top: 0px;
    margin-left: 600px;
    border-radius: 15px;
    
}
#pokeLogo{
    margin-top: 30px;
    margin-left: 700px;
    width: 400px;
}
.busqueda{
    margin-top: 50px;
    margin-left: 800px;
}
.cuerpo1{
    margin-left: 75px;
}
#pokeImg{
    width: 120px;
    position: relative;
    margin-left: -75px;
}
.contenido{
    margin-top: 105px;
    margin-left: 22px;
    margin-right: 35px;
    width: 330px;
    height: 375px;  
    background-color: white;
    border:15px solid;
}
.contenido2{
    margin-top: -130px;
    margin-left: 50px;
    position: relative;
}
#dato1{
    margin-top: -3px;
    margin-left: 50px;
}
#dato2{
    margin-left: 52px;
    margin-top: -22px;
}
#dato3{
    margin-left: 52px;
    margin-top: -22px;
}
#dato4{
    margin-left: 78px;
    margin-top: -22px;
}
#dato5{
    font-weight: bold;
    margin-top: -15px;
}
#dato6{
    font-weight: bold;  
    margin-top: -15px;
}
.contenido3{
    margin-left: -100px;
}
.contenido4{
    margin-left: 00px;
}
#dato7{
    position: absolute;
    font-weight: bold;  
    margin-top: -33px;
    margin-left: 40px;
}
#dato8{
    position: absolute;
    font-weight: bold;  
    margin-top: -33px;
    margin-left: 150px;
    margin-right: 15px;
}
#dato9{
    position: absolute;
    font-weight: bold;  
    margin-top: -33px;
    margin-left: 260px;
}
#dato10{
    position: absolute;
    font-weight: bold;  
    margin-top: -33px;
    margin-left: 100px;
}
#dato11{    
    position: absolute;
    font-weight: bold;  
    margin-top: -33px;
    margin-left: 260px;
}
#ataque{
    position: absolute;
    margin-top: -33px;
    margin-left: 95px;
}
#defensa{
    margin-top: -33px;
    margin-left: 200px;
}
#defensaEsp{
    margin-top: -33px;
    margin-left: 150px;
}
#kg{
    margin-top: -41px;
    margin-left: 85px;

}
#m{
    margin-top: -40px;
    margin-left: 110px;
}
.cuerpo2{
    position: relative;
    width: 400px;
    height: 580px;
    background-color: brown;
    margin-top: 50px;
    margin-left: 1000px;
    border-radius: 10px;
    border-top: 18px solid;
}
.cuerpo3{
    position: relative;
    width: 320px;
    height: 100px;
    background-color: green;
    margin-top: -500px;
    margin-left: 1050px;
    border-radius: 3px;
}
.cuerpo4{
    position: relative;
    width: 10px;
    height: 580px;
    background-color: black;
    margin-top: -590px;
    margin-left: 1000px;
    border-radius: 5px;

}
#forma1{
    position: relative;
    background-color: dodgerblue;
    list-style: none;
    margin-top: 30px;
    margin-left: 1010px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
    
}
#forma2{
    position: relative;
    background-color: dodgerblue;
    list-style: none;
    margin-top: -50px;
    margin-left: 1075px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
#forma3{
    position: relative;
    background-color: dodgerblue;
    list-style: none;
    margin-top: -50px;
    margin-left: 1140px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
#forma4{
    position: relative;
    background-color: dodgerblue;
    list-style: none;
    margin-top: -50px;
    margin-left: 1205px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
#forma5{
    position: relative;
    background-color: dodgerblue;
    list-style: none; 
    margin-top: -50px;
    margin-left: 1270px;
    width: 60px;
    height: 50px;  
    border-radius: 5px;
}
#forma6{
    position: relative;
    background-color: dodgerblue;
    list-style: none;
    margin-top: 5px;
    margin-left: 1010px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
#forma7{
    position: relative;
    background-color: dodgerblue;
    list-style: none;
    margin-top: -50px;
    margin-left: 1075px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
#forma8{
    position: relative;
    background-color: dodgerblue;
    list-style: none;
    margin-top: -50px;
    margin-left: 1140px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
#forma9{
    position: relative;
    background-color: dodgerblue;
    list-style: none;
    margin-top: -50px;
    margin-left: 1205px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
#forma10{
    position: relative;
    background-color: dodgerblue;
    list-style: none;
    margin-top: -50px;
    margin-left: 1270px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
#forma11{
    position: relative;
    background-color: beige;
    list-style: none;
    margin-top: 70px;
    margin-left: 1010px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
#forma12{
    position: relative;
    background-color: beige;
    list-style: none;
    margin-top: -50px;
    margin-left: 1080px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
}
#forma13{
    list-style: none;
    position: relative;
    width: 150px;
    height: 50px;
    background-color: green;
    margin-top: 50px;
    margin-left: 1010px;
    border-radius: 5px;
}
#forma14{
    list-style: none;
    position: relative;
    width: 150px;
    height: 50px;
    background-color: green;
    margin-top: -50px;
    margin-left: 1180px;
    border-radius: 5px;
}
#forma15{
    list-style: none;
    position: relative;
    width: 55px;
    height: 50px;
    background-color: coral;
    margin-top: -150px;
    margin-left: 1250px;
    border-radius: 50%;
}
#circulo1{
    background-color: aqua;
    position: absolute;
    margin-top: 15px;
    border-radius: 50%;
    list-style: none;
    width: 50px;
    height: 50px;
    border: 3px solid;
}
#circulo2{
    background-color: crimson;
    position: absolute;
    margin-top: 15px;
    border-radius: 50%;
    margin-left: 65px;
    list-style: none;
    width: 20px;
    height: 20px;
    border: 3px solid;
}
#circulo3{
    background-color: gold;
    position: absolute;
    margin-top: 15px;
    border-radius: 50%;
    margin-left: 95px;
    list-style: none;
    width: 20px;
    height: 20px;
    border: 3px solid;
}
#circulo4{
    background-color: green;
    position: absolute;
    margin-top: 15px;
    border-radius: 50%;
    margin-left: 125px;
    list-style: none;
    width: 20px;
    height: 20px;
    border: 3px solid;
}
#circulo5{
    background-color: cadetblue;
    position: absolute;
    margin-top: 0px;
    border-radius: 50%;
    margin-left: 10px;
    list-style: none;
    width: 40px;
    height: 40px;
    border: 3px solid;
}
#circulo6{
    background-color: chartreuse;
    position: absolute;
    margin-top: 0px;
    border-radius: 20%;
    margin-left: 75px;
    list-style: none;
    width: 100px;
    height: 17px;
    border: 3px solid;
}
#circulo7{
    background-color: gold;
    position: absolute;
    margin-top: 0px;
    border-radius: 20%;
    margin-left: 200px;
    list-style: none;
    width: 100px;
    height: 17px;
    border: 3px solid;
}
#pokeName{
    margin-top: 30px;
    margin-left: 115px;
    width: 100px;
    border-radius: 5px;
    background-color: cornsilk;
}
#otro{
    background-color: cyan;
    border-radius: 5px;
}